* {
  text-align: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.main-footer {
  padding-top: 3em;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #0d6efd;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em;
  /* padding-top: 11em; */
}

.git-icon {
  color: white;
}
